.aboutMeHr {
    width: 90%;
}

#handle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-height: 20%;
    max-width: 100%;
    padding-left: 20px;
    height: 100%;
    gap: 10px;
    /* border: 1px solid rgb(50, 50, 50);
    border-radius: 10px;
    background-color: rgb(50, 50, 50); */
}

#handle > #logo {
    max-width: 30%;
    max-height: 100%;
}

#handle > #info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
}

#info > #name {
    width: 100%;
    color: white;
    font-size: 1.35em;
}

#info > #status {
    width: 70%;
    color: rgb(148, 148, 148);
    font-size: 0.9em;
}

#bio {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 40%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    /* border: 1px solid rgb(50, 50, 50);
    border-radius: 10px;
    background-color: rgb(50, 50, 50); */
}

#bio > span {
    max-width: 90%;
    font-size: 1.1em;
    text-align: center;
    color: white;
    /* border: 1px solid red; */
}

#skills {
    display: flex;
    justify-content: center;
    max-height: 40%;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

#skills > #frontEnd {
    color: white;
    font-size: 1.1em;
    padding-right: 10%;
}

#skills > #backEnd {
    color: white;
    font-size: 1.1em;
}