#alogo {
    display: none;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 10%;
    height: 100%;
    width: 100%;
    animation: 1s fadeIn;
    /* border: 1px solid red; */
}

#alogo > #logo {
    max-height: 80%;
    max-width: 100%;
}


#statistics {
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 12%;
    /* border: 1px solid blue; */
    width: 100%;
    height: 90%;
    font-size: 1.8em;
    font-style: italic;
    font-weight: bold;
    animation: 1s fadeIn;
}

.count {
    color: rgb(142, 142, 142);
}

.hard {
    color: red;
}

.medium {
    color: orange;
}

.easy {
    color: rgb(0, 241, 0);
}

.all {
    color: white;
}

#leetLink {
    font-size: 0.9em;
    color: rgb(142, 142, 142);
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}