#leetCodeStats > a {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 40%;
    max-width: 9%;
    /* border: 1px solid red; */
}

#leetCodeStats > a > #logo {
    max-height: 100%;
    max-width: 100%;
}

#statistics {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 12%;
    /* border: 1px solid blue; */
    max-width: 90%;
    max-height: 80%;
    width: 100%;
    height: 100%;
    animation: 1s fadeIn;
}

.count {
    font-size: 1.8em;
    font-style: italic;
    font-weight: bold;
    color: rgb(142, 142, 142);
}

#hard {
    color: red;
}

#medium {
    color: orange;
}

#easy {
    color: rgb(0, 241, 0);
}

#all {
    color: white;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}