#projectCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    gap: 2%;
    width: 70%;
    height: 90%;
    background-color: rgb(40, 40, 40);
    border: 1px solid rgb(40, 40, 40);
    border-radius: 10px;
    animation: 1s fadeIn;
}

#projectHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 99%;
    height: 18%;
    background-color: rgb(60, 60, 60);
    border: 1px solid rgb(60, 60, 60);
    border-radius: 10px;
}

#projectHeader > #projectName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    color: white;
}

#projectMain {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(6, 1fr);
    gap: 1%;
    width: 99%;
    height: 80%;
    border-radius: 10px;
}

#projectMain > #projectPreview {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 1 / -1;
    background-color: rgb(60, 60, 60);
    border: 1px solid rgb(60, 60, 60);
    border-radius: 10px;
}

#projectPreview > #previewImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#projectMain > #projectSkills {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 4 / -1;
    grid-row: 1 / 2;
    background-color: rgb(60, 60, 60);
    border: 1px solid rgb(60, 60, 60);
    border-radius: 10px;
}

.skillIcon {
    width: 23%;
    height: 90%;
}

#projectMain > #projectInfo {
    grid-column: 4 / -1;
    grid-row: 2 / 4;
    background-color: rgb(60, 60, 60);
    border: 1px solid rgb(60, 60, 60);
    /* border: 1px solid rgb(255, 0, 212); */
    border-radius: 10px;
}

#projectInfo > #projectInfoText {
    font-size: 1.1em;
    color: white;
}

#projectLink {
    grid-column: 4 / -1;
    grid-row: 4 / -1;
    background-color: rgb(60, 60, 60);
    border: 1px solid rgb(60, 60, 60);
    border-radius: 10px;
    transition: 0.1s linear;
}

#projectLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(60, 60, 60);
    border: 1px solid white;
    color: white;
    font-family: "Chakra Petch";
    font-size: 1.3em;
    text-decoration: underline;
}

#projectLink:hover {
    background-color: rgb(33, 59, 145);
    cursor: pointer;
}

#projectLink:active {
    background-color: rgb(19, 40, 109);
    cursor: pointer;
}

@media (max-width: 840px) {
    #projectCard {
        width: 80%;
        height: 90%;
    }

    #projectMain {
        grid-template: repeat(7, 1fr) / 1fr;
    }

    #projectMain > #projectPreview {
        grid-column: 1;
        grid-row: 1 / 4;
    }

    #projectMain > #projectSkills {
        grid-column: 1;
        grid-row: 4 / 5;
    }

    #projectMain > #projectInfo {
        grid-column: 1;
        grid-row: 5 / 7;
    }

    #projectLink {
        grid-column: 1;
        grid-row: 7 / -1;
    }
}